<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zain.user.mapper.EmployeeMapper">
    <select id="selectAll" resultType="com.zain.user.entity.Employee">
        SELECT * FROM employee
        <where>
            <if test="name!=null"> name like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>

    <insert id="add" parameterType="com.zain.user.entity.Employee">
        insert into `employee` (username,password,role,name, sex,no, age, description, departmentId,avatar)
        values(#{username},#{password},#{role},#{name},#{sex},#{no},#{age},#{description},#{departmentId},#{avatar})
    </insert>

    <update id="updateById" parameterType="com.zain.user.entity.Employee">
        update `employee` set username =#{username}, name = #{name} ,  sex = #{sex} , password = #{password},  role = #{role},sex = #{sex},no = #{no}, age =#{age},
            description=#{description}, departmentId=#{departmentId},avatar = #{avatar}
        where id = #{id}
    </update>
</mapper>